.data-nav {
  background: var(--main-color);
}
.data-nav a {
  color: #fff;
  padding: 1em;
}
.data-nav a:hover {
  color: var(--main-color);
  background-color: #fff;
}
.dashboard-view-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8em;
}
#dashboard-default-personal-img {
  border: 4px solid transparent;
  border-radius: 50%;
  width: 250px;
}