.data-nav {
  background: var(--main-color);
}
.data-nav li {
  color: #fff;
  padding: 1em;
}
.active {
  color: var(--main-color);
  background-color: #fff;
  cursor: pointer;
}
.data-nav a:hover,
.data-nav li:hover {
  color: var(--main-color);
  background-color: #fff;
  cursor: pointer;
}
#dashboard-view-cont {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 8em;
  padding: .5em;
}
.dashboard-info {
  text-align: center;
  grid-column: 2 / 3;
}
.dashboard-info-personal {
  margin-top: 2em;
  font-size: .7em;
}
#dashboard-default-personal-img {
  border: 4px solid transparent;
  border-radius: 50%;
  width: 250px;
}
.dashboard-navbar {
  font-size: 2em;
}
.dashboard-navbar a:hover {
  text-decoration: underline;
}
.dashboard-navbar li {
  padding: .8em;
}
/*
====================
ADD NEW STUDENT
====================
*/
#data-add {
  font-size: 1.3em;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding: .5em;
  margin-top: 4em;
}
#data-add fieldset {
  padding: 1em;
  border: 4px solid var(--main-color);
  border-radius: 10px;
  grid-column: 2 / 4;
}
#data-add input {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  border-radius: 5px;
  line-height: 2;
  flex-basis: 0;
}
#data-add div {
  margin: 1em;
}
#data-add .data-add-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#data-add .data-add-name input {
  width: 250px;
}
#data-add .data-add-name input[name="middle"] {
  width: 3em;
}
#data-add .data-add-bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#data-add .data-add-bio select {
  border-radius: 5px;
  height: 3em;
}
#data-add .data-add-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#data-add .data-add-address label {
  margin-right: 1em;
}
#data-add .data-add-address select {
  border-radius: 5px;
  height: 3em;
}
#data-add .data-add-address input[name="address"] {
  width: 350px;
}
#data-add .data-add-button {
  display: flex;
  justify-content: flex-end;
}
#data-add .data-add-button input {
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: .5em;
}
#data-add .data-add-button input:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
/*
===========================
STUDENT PROFILE
===========================
*/
.studentProfile_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4em 0;
}
#studentProfile_img {
  width: 20em;
}
.studentProfile_picture{
  text-align: center;
}
.studentProfile_info {
  font-size: .8em;
}
.studentProfile_info #studentProfile_name {
  font-weight: 800;
}
.studentProfile_info p {
  margin: .5em;
}