#logo {
  margin: 1em 0;
}
#logo a {
  color: var(--main-color);
}
.form-container {
  width: 30%;
  margin: 2em auto 0 auto;
  padding: 1em;
}
.form-container p {
  text-align: center;
  font-size: 2.5em;
  font-weight: 800;
  color: var(--main-color);
  margin-bottom: 1em;
}
.form-img {
  max-width: 100px;
  margin: 0 auto;
}
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-form input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  width: 100%;
  line-height: 2;
  margin: .5em;
  padding: .5em;
}
#login-form input:focus {
  outline: 3px solid;
  outline-color: var(--main-color);
}
#login-form #password {
  margin-bottom: 1.5em;
}
#login-form #submit {
  text-transform: uppercase;
  color: #fff;
  background-color: var(--main-color);
}
#login-form #submit:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}